extends layout.pug

block content
  section.container
    h1.header= title
    img(src="indentation-war.png")   
    article.item
      form.form(method='post', action='/')
        fieldset
          div
            input(type='text', name='id',placeholder='id', required)
            input(type='text', name='name',placeholder='nombre', required)
            input.button.add(type="submit", value="Agregar")
    a.button.show(href='/') Inicio	