extends layout.pug

block content
  section.container
    h1.header= title
    article.item
      form.from(method="post", action="/actualizar/" + data[0].id)                  
          input(type="hidden", name="id", value=data[0].id)
          fieldset
            div
              input(class='form-control' type="text", name="name", placeholder="nombre", value=data[0].name, required)
            div
              input(class="btn btn-warning" style='color: white' type="submit", value="Editar")    
    a(class="btn btn-dark" href="/") Inicio  